[submodule "sglang"]
	path = sglang
	url = https://github.com/cjmcv/sglang.git
[submodule "lighteval"]
	path = lighteval
	url = https://github.com/cjmcv/lighteval.git
[submodule "cutlass"]
	path = cutlass
	url = https://github.com/cjmcv/cutlass.git
[submodule "flash-attention"]
	path = flash-attention
	url = https://github.com/cjmcv/flash-attention.git
[submodule "SageAttention"]
	path = SageAttention
	url = https://github.com/cjmcv/SageAttention.git
[submodule "marlin"]
	path = marlin
	url = https://github.com/cjmcv/marlin.git
[submodule "tilelang"]
	path = tilelang
	url = https://github.com/cjmcv/tilelang.git
